.topBarContainer{
    height: 50px;
    width: 100%;
    /* background-color: #9163FB; */
    background-color: #6c6ca5;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 999;
    overflow-y: hidden;
    /* color: #E5DAFE; */
}

.topBarLeft{
    flex: 3;
}

.topBarCenter{
    flex: 6;
    display: flex;
    justify-content: center;
}

.topBarRight{
    flex: 3;
    display: flex;
    align-items:center;
    justify-content:flex-end;
    color: #FEFFFD;
    margin-right: 20px;
    /* color: #E5DAFE; */
    /* color: #F1E9FE !important; */
}

.topBarLink{
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topBarIcons{
    display: flex;
    align-items: center;
}

.topBarIconItem{
    margin-right: 15px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}


.topBarIconBadge{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: tomato;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.logo{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    /* color: white; */
    color: #FEFFFD;
    cursor: pointer;
}

.logo-symbol{
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    /* color: white; */
    color: #FEFFFD;
    cursor: pointer;
    display: none;
}


.topBarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    align-items: center;
}

.topBarImg-mobile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    display: none;
    align-items: center;
}

.searchBar{
    width: 70%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 20px !important;
    padding-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
    outline: none;
}

@media screen and (max-width: 700px) {
    /* .topBarContainer .topBarCenter{
      width: 100%;
        float: none;
    } */
    .topBarLeft{
        flex: 1;
    }
    .topBarCenter{
        flex: 10;
    }
    .topBarRight{
        flex: 1;
    }
    .searchBar{
        width: 90%;
    }
    .topBarIconItem{
        display: none;
    }
    .logo{
        display: none;
    }
    .logo-symbol{
        display: block;
    }
}  