.sidebar{
    flex: 3;
    /* background-color: #e8e8f2; */
    height: calc(100vh - 50px);
    overflow-y:scroll;
    top: 50px;
    position: sticky;
}

@media screen and (max-width: 700px) {
    .sidebar {
      display: none;
    }
}
  

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: gray
}

.sidebarWrapper{
    padding: 20px;
    /* background-color: rgb(68, 109, 68); */
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon{
    margin-right: 15px;
}

.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr{
    margin: 20px 0;
}

.sidebarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.sidebarHr{
    border-top: 1px solid #666;
    border-bottom: none;
}